
<form method="POST" action="/admin/listdeleteuser/<%= id %>">
    Xoa:
    <button type="submit">Delete</button>
  </form>
  <!-- method la POST, action la duong dan den id: /admin/listdeleteuser/<%= id %>-->

                                                                                                                